.header {
    position: relative;
    z-index: 0;
    top: 80px;
    height: 650px;
}
.header__gradient {
    position: absolute;
    z-index: 9;
    left: -70px;
    top: -80px;
    width: 1310px;
    height: 564px;
    background: linear-gradient(
            132deg,
            rgba(223, 80, 23, 1) 0%,
            rgba(223, 80, 23, 0.44) 37%,
            rgba(223, 80, 23, 0.19) 64%,
            rgba(223, 80, 23, 0) 100%
        ),
        linear-gradient(90deg, rgba(40, 37, 51, 1) 0%, rgba(40, 37, 51, 0.74) 50%, rgba(40, 37, 51, 0) 50%);
}
.header__title {
    padding-top: 181px;
    width: 1310px;
    position: relative;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    z-index: 10;
}
.header__image {
    /* width: 100%; */
    position: absolute;
    top: 0px;
    left: 758px;
    z-index: -1;
}
